/*
@font-face {
    font-family: 'Linden Hill';
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/theleagueof/linden-hill/webfonts/LindenHill-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Linden Hill';
    font-style: italic;
    src: url('https://cdn.jsdelivr.net/gh/theleagueof/linden-hill/webfonts/LindenHill-Italic-webfont.woff') format('woff');
}
body {
    font-family: 'Linden Hill', Palatino, serif;
}
.menu, .meta-line, footer {
    font-family: Jost, sans-serif;
}
*/

body {
    font-family: -apple-system, system-ui, PingFang SC, Hiragino Sans GB, Source Han Sans SC, Noto Sans CJK SC, Microsoft YaHei, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

code {
    font-family: ui-monospace, SFMono-Regular, monospace, stkaiti, kaiti sc, kaiti, sans-serif;
    font-size: 85%;
}

